In [1]:
import pandas as pd
import numpy as np
import pyreadr
import math

In [2]:
data_read = pyreadr.read_r("../data/wage2015_subsample_inference.Rdata")

In [3]:
data = data_read[ 'data' ]

In [4]:
data.shape

(5150, 20)

In [5]:
m = data[ ["lwage","sex","shs","hsg","scl","clg","ad","ne","mw","so","we","exp1"] ]

In [6]:
college=m[m['clg']==1]
m_college= college[ ["lwage","sex","shs","hsg","scl","clg","ad","ne","mw","so","we","exp1"] ]
scl=m[m['scl']==1]
m_scl=scl[["lwage","sex","shs","hsg","scl","clg","ad","ne","mw","so","we","exp1"]]

In [7]:
m_college.shape

(1636, 12)

In [8]:
m_scl.shape

(1432, 12)

In [9]:
total=pd.concat([m_college,m_scl])

In [10]:
total.shape

(3068, 12)

In [11]:
total.reset_index(inplace=True)

In [12]:
total2 = total[ ["lwage","sex","scl","clg","ne","mw","so","we","exp1"] ]

data_female = total2[total2[ 'sex' ] == 1 ]
t_female = data_female[ ["lwage","sex","scl","clg","ne","mw","so","we","exp1"] ]

data_male = total2[ total2[ 'sex' ] == 0 ]
t_male = data_male[ [ "lwage","sex","scl","clg","ne","mw","so","we","exp1" ] ]


table = np.zeros( (9, 3) )
table[:, 0] = total2.mean().values
table[:, 1] = t_male.mean().values
table[:, 2] = t_female.mean().values
table_pandas = pd.DataFrame( table, columns = [ 'All', 'Men', 'Women'])
table_pandas.index = ["Log Wage","Sex","Some College","Gollage Graduate","Northeast","Midwest","South","West","Experience"]
table_html = table_pandas.to_html()

table_pandas

                        All        Men      Women
Log Wage           3.000022   3.038412   2.956904
Sex                0.470991   0.000000   1.000000
Some College       0.466754   0.481824   0.449827
Gollage Graduate   0.533246   0.518176   0.550173
Northeast          0.226532   0.219347   0.234602
Midwest            0.265971   0.261245   0.271280
South              0.285854   0.290819   0.280277
West               0.221643   0.228589   0.213841
Experience        12.700945  12.433148  13.001730

In [13]:
data_female['lwage'].mean() - data_male['lwage'].mean()

-0.08150855508735866

In [36]:
import statsmodels.api as sm
import statsmodels.formula.api as smf

In [38]:
nocontrol_model = smf.ols( formula = 'lwage ~ sex', data = total2 )
nocontrol_est = nocontrol_model.fit().summary2().tables[1]['Coef.']['sex']
HCV_coefs = nocontrol_model.fit().cov_HC0
nocontrol_se = np.power( HCV_coefs.diagonal() , 0.5)[1]

In [39]:
print( f'The estimated gender coefficient is {nocontrol_est} and the corresponding robust standard error is {nocontrol_se}' )

The estimated gender coefficient is -0.08150855508736156 and the corresponding robust standard error is 0.019579647767772403

In [14]:
print('hola mundo')

hola mundo