* Python code replication of: " https://www.kaggle.com/janniskueck/pm1-notebook1-prediction-newdata "
* Created by: Alexander Quispe

This notebook contains an example for teaching.

# Introduction

In labor economics an important question is what determines the wage of workers. This is a causal question, but we could begin to investigate from a predictive perspective.

In the following wage example,  Y  is the hourly wage of a worker and  X  is a vector of worker's characteristics, e.g., education, experience, gender. Two main questions here are:

* How to use job-relevant characteristics, such as education and experience, to best predict wages?

* What is the difference in predicted wages between men and women with the same job-relevant characteristics?

In this lab, we focus on the prediction question first.

# Data

The data set we consider is from the March Supplement of the U.S. Current Population Survey, year 2015. We select white non-hispanic individuals, aged 25 to 64 years, and working more than 35 hours per week during at least 50 weeks of the year. We exclude self-employed workers; individuals living in group quarters; individuals in the military, agricultural or private household sectors; individuals with inconsistent reports on earnings and employment status; individuals with allocated or missing information in any of the variables used in the analysis; and individuals with hourly wage below  3 .

The variable of interest  Y  is the hourly wage rate constructed as the ratio of the annual earnings to the total number of hours worked, which is constructed in turn as the product of number of weeks worked and the usual number of hours worked per week. In our analysis, we also focus on single (never married) workers. The final sample is of size  **n=5150** .

# Data analysis

We start by loading the data set.

In [1]:
# Import relevant packages
import pandas as pd
import numpy as np
import pyreadr

In [2]:
rdata_read = pyreadr.read_r("../data/wage2015_subsample_inference.Rdata")
data = rdata_read[ 'data' ]
type(data)
data.shape

(5150, 20)

Let's have a look at the structure of the data.

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5150 entries, 10 to 32643
Data columns (total 20 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   wage    5150 non-null   float64
 1   lwage   5150 non-null   float64
 2   sex     5150 non-null   float64
 3   shs     5150 non-null   float64
 4   hsg     5150 non-null   float64
 5   scl     5150 non-null   float64
 6   clg     5150 non-null   float64
 7   ad      5150 non-null   float64
 8   mw      5150 non-null   float64
 9   so      5150 non-null   float64
 10  we      5150 non-null   float64
 11  ne      5150 non-null   float64
 12  exp1    5150 non-null   float64
 13  exp2    5150 non-null   float64
 14  exp3    5150 non-null   float64
 15  exp4    5150 non-null   float64
 16  occ     5150 non-null   category
 17  occ2    5150 non-null   category
 18  ind     5150 non-null   category
 19  ind2    5150 non-null   category
dtypes: category(4), float64(16)
memory usage: 740.3+ KB

In [4]:
data.describe()

,wage,lwage,sex,shs,hsg,scl,clg,ad,mw,so,we,ne,exp1,exp2,exp3,exp4
count,5150.000000,5150.000000,5150.000000,5150.000000,5150.000000,5150.000000,5150.000000,5150.000000,5150.000000,5150.000000,5150.000000,5150.000000,5150.000000,5150.000000,5150.000000,5150.000000
mean,23.410410,2.970787,0.444466,0.023301,0.243883,0.278058,0.317670,0.137087,0.259612,0.296505,0.216117,0.227767,13.760583,3.018925,8.235867,25.118038
std,21.003016,0.570385,0.496955,0.150872,0.429465,0.448086,0.465616,0.343973,0.438464,0.456761,0.411635,0.419432,10.609465,4.000904,14.488962,53.530225
min,3.021978,1.105912,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,13.461538,2.599837,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,0.250000,0.125000,0.062500
50%,19.230769,2.956512,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,10.000000,1.000000,1.000000,1.000000
75%,27.777778,3.324236,1.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,0.000000,0.000000,21.000000,4.410000,9.261000,19.448100
max,528.845673,6.270697,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,47.000000,22.090000,103.823000,487.968100

### Cleaning data

Focus on people who did not go to college. The variable `shs (Some High School)` and `hsg (High School Graduate)` help us to identify people that did not go to college.

In [5]:
df1 = data[ ( data.shs == 1 ) | ( data.hsg == 1 ) ].copy()

We are constructing the output variable  **Y**  and the matrix  **Z**  which includes the characteristics of workers that are given in the data.

In [6]:
Y = np.log2(df1['wage']) 
n = len(Y)
z = df1.loc[:, ~df1.columns.isin(['wage', 'lwage','Unnamed: 0'])]
p = z.shape[1]

print("Number of observation:", n, '\n')
print( "Number of raw regressors:", p)

Number of observation: 1376

Number of raw regressors: 18

For the outcome variable *wage* and a subset of the raw regressors, we calculate the empirical mean to get familiar with the data.

In [7]:
Z_subset = df1.loc[:, df1.columns.isin(["lwage","sex","shs","hsg","scl","clg","ad","mw","so","we","ne","exp1"])]
table = Z_subset.mean(axis=0)
table

lwage     2.718562
sex       0.321948
shs       0.087209
hsg       0.912791
scl       0.000000
clg       0.000000
ad        0.000000
mw        0.286337
so        0.291424
we        0.198401
ne        0.223837
exp1     17.190044
dtype: float64

In [8]:
table = pd.DataFrame(data=table, columns={"Sample mean":"0"} )
table.index
index1 = list(table.index)
index2 = ["Log Wage","Sex","Some High School","High School Graduate",\
          "Some College","College Graduate", "Advanced Degree","Midwest",\
          "South","West","Northeast","Experience"]

In [9]:
table = table.rename(index=dict(zip(index1,index2)))
table

                      Sample mean
Log Wage                 2.718562
Sex                      0.321948
Some High School         0.087209
High School Graduate     0.912791
Some College             0.000000
College Graduate         0.000000
Advanced Degree          0.000000
Midwest                  0.286337
South                    0.291424
West                     0.198401
Northeast                0.223837
Experience              17.190044

E.g., the share of female workers in our sample is ~32% ($sex=1$ if female).

Alternatively, we can also print the table as latex.

In [12]:
print(table.to_latex())

\begin{tabular}{lr}
\toprule
{} &  Sample mean \\
\midrule
Log Wage             &     2.718562 \\
Sex                  &     0.321948 \\
Some High School     &     0.087209 \\
High School Graduate &     0.912791 \\
Some College         &     0.000000 \\
College Graduate     &     0.000000 \\
Advanced Degree      &     0.000000 \\
Midwest              &     0.286337 \\
South                &     0.291424 \\
West                 &     0.198401 \\
Northeast            &     0.223837 \\
Experience           &    17.190044 \\
\bottomrule
\end{tabular}

## Prediction Question

Now, we will construct a prediction rule for hourly wage $Y$, which depends linearly on job-relevant characteristics $X$:

\begin{equation}\label{decompose}
Y = \beta'X+ \epsilon.
\end{equation}

Our goals are

* Predict wages  using various characteristics of workers.

* Assess the predictive performance using the (adjusted) sample MSE, the (adjusted) sample $R^2$ and the out-of-sample MSE and $R^2$.


We employ two different specifications for prediction:


1. Basic Model:   $X$ consists of a set of raw regressors (e.g. gender, experience, education indicators,  occupation and industry indicators, regional indicators).


2. Flexible Model:  $X$ consists of all raw regressors from the basic model plus occupation and industry indicators, transformations (e.g., ${exp}^2$ and ${exp}^3$) and additional two-way interactions of polynomial in experience with other regressors. An example of a regressor created through a two-way interaction is *experience* times the indicator of having a *college degree*.

Using the **Flexible Model**, enables us to approximate the real relationship by a
 more complex regression model and therefore to reduce the bias. The **Flexible Model** increases the range of potential shapes of the estimated regression function. In general, flexible models often deliver good prediction accuracy but give models which are harder to interpret.

Now, let us fit both models to our data by running ordinary least squares (ols):

In [11]:
# Import packages for OLS regression
import statsmodels.api as sm
import statsmodels.formula.api as smf

In [ ]:
# 1. ORIGINAL basic model
basic_ori = 'lwage ~  sex + exp1 + shs + hsg+ scl + clg + mw + so + we + occ2+ ind2'
basic_results1_ori = smf.ols(basic_ori , data=df1)
basic_results_ori = basic_results1_ori.fit()
print(basic_results_ori.summary()) # estimated coefficients
print( "Number of regressors in the original basic model:",len(basic_results_ori.params), '\n')  
# number of regressors in the Basic Model
# we have to drop  hsg+ scl + clg

We have to drop the hsg, scl and clg variables because of multicolinearity.

In [ ]:
# 1. basic model
basic = 'lwage ~ sex + exp1 + shs + mw + so + we + occ2+ ind2'
basic_results1 = smf.ols(basic , data=df1)
basic_results = basic_results1.fit()
print(basic_results.summary()) # estimated coefficients
print( "Number of regressors in the basic model:",len(basic_results.params), '\n')  
# number of regressors in the Basic Model
# we have to drop  hsg+ scl + clg

##### Note that the basic model consists of $48$ regressors. Three regressors were dropped out.

In [ ]:
X_var = pd.DataFrame( basic_results1.exog , columns = basic_results1.exog_names )

basic_results1.exog_names[-4]
basic_results1.exog_names[-5]

Q1 = np.linalg.qr( X_var.values )[0]

r = np.linalg.qr( X_var.values )[1]

clean_names = np.array(basic_results1.exog_names)[ (r.sum( axis = 0 ) != 0 ).tolist()].tolist()

new_xvar = X_var.loc[ : , clean_names ]

Q1 = np.linalg.qr( new_xvar.values )[0]

r = np.linalg.qr( new_xvar.values )[1]



import sparseqr



abs(r.sum( axis = 0)) < 1e-07

abs(r.sum( axis = 0)) < 1e-07

r[ : , [-4, -5 ] ]

np.linalg.qr( X_var.values )[ 1 ]

def back_substitution(A: np.ndarray, b: np.ndarray) -> np.ndarray:
    n = b.size
    x = np.zeros_like(b)

    if A[n-1, n-1] == 0:
        raise ValueError

    for i in range(n-1, 0, -1):
        x[i] = A[i, i]/b[i]
        for j in range (i-1, 0, -1):
            A[i, i] += A[j, i]*x[i]

    return x

!pip install qr

!pip install redis

import  qr

np.linalg.inv( r )

np.dot( np.linalg.inv( r ) , Q1 )

c(backsolve(R, t(Q1) %*% y))

##### Note that the basic model consists of $49$ regressors. We have to drop `scl` and `clg` since they produce multicolinearity.

In [ ]:
# 2. flexible model
flex_ori = 'lwage ~ (exp1+exp2+exp3+exp4+shs+hsg+scl+clg+occ2+ind2+mw+so+we)**2'
flex_results_0_ori = smf.ols(flex_ori , data = df1 )
flex_results_ori = smf.ols(flex_ori , data = df1 ).fit()
print(flex_results_ori.summary()) # estimated coefficients
print( "Number of regressors in the basic model:", len( flex_results_ori.params ), '\n' ) 
# number of regressors in the Flexible Model

Note that the flexible model consists of $494$ regressors of $979$ variables.
I use the `clean_data_flex` data from R to get exact results.

#### Import data from R

In [ ]:
rdata_read = pyreadr.read_r("../data/clean_data_flex.RData")
clean_data_flex = rdata_read[ 'clean_data_flex' ]
print( type( clean_data_flex ) )
print( clean_data_flex.shape )

flex_results = sm.OLS( df1['lwage'], clean_data_flex  ).fit()

# 2. flexible model
# flex = "lwage~" + all_columns
# flex_results = smf.ols(flex , data = clean_data_flex ).fit()
print(flex_results.summary()) # estimated coefficients
print( "Number of regressors in the basic model:", len( flex_results.params ), '\n' ) 
# number of regressors in the Flexible Model

## Try Lasso next

In [80]:
import hdmpy

In [186]:
X_vars = pd.DataFrame(flex_results_0_ori.exog[:, 1:], columns = flex_results_0_ori.exog_names[1:] )
X_vars.shape

(1376, 978)

In [187]:
fit_rlasso = hdmpy.rlasso( X_vars, df1['lwage']  , post = True )

c:\python\python38\lib\site-packages\numpy\lib\function_base.py:2559: RuntimeWarning: invalid value encountered in true_divide
  c /= stddev[:, None]
c:\python\python38\lib\site-packages\numpy\lib\function_base.py:2560: RuntimeWarning: invalid value encountered in true_divide
  c /= stddev[None, :]
c:\python\python38\lib\site-packages\numpy\lib\function_base.py:2559: RuntimeWarning: invalid value encountered in true_divide
  c /= stddev[:, None]
c:\python\python38\lib\site-packages\numpy\lib\function_base.py:2560: RuntimeWarning: invalid value encountered in true_divide
  c /= stddev[None, :]
c:\python\python38\lib\site-packages\numpy\lib\function_base.py:2559: RuntimeWarning: invalid value encountered in true_divide
  c /= stddev[:, None]
c:\python\python38\lib\site-packages\numpy\lib\function_base.py:2560: RuntimeWarning: invalid value encountered in true_divide
  c /= stddev[None, :]
c:\python\python38\lib\site-packages\numpy\lib\function_base.py:2559: RuntimeWarning: invalid value encountered in true_divide
  c /= stddev[:, None]
c:\python\python38\lib\site-packages\numpy\lib\function_base.py:2560: RuntimeWarning: invalid value encountered in true_divide
  c /= stddev[None, :]
c:\python\python38\lib\site-packages\numpy\lib\function_base.py:2559: RuntimeWarning: invalid value encountered in true_divide
  c /= stddev[:, None]
c:\python\python38\lib\site-packages\numpy\lib\function_base.py:2560: RuntimeWarning: invalid value encountered in true_divide
  c /= stddev[None, :]

In [191]:
y_hat = np.dot( sm.add_constant( X_vars ).values , fit_rlasso.est['coefficients'].values )

Now, we can evaluate the performance of both models based on the (adjusted) $R^2_{sample}$ and the (adjusted) $MSE_{sample}$:

In [110]:
# Import relevant packages for lasso 
from sklearn.linear_model import LassoCV
from sklearn import linear_model
from sklearn.preprocessing import PolynomialFeatures
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

In [199]:
X_vars

,occ2[T.10],occ2[T.11],occ2[T.12],occ2[T.13],occ2[T.14],occ2[T.15],occ2[T.16],occ2[T.17],occ2[T.18],occ2[T.19],...,scl:clg,scl:mw,scl:so,scl:we,clg:mw,clg:so,clg:we,mw:so,mw:we,so:we
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1371,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1372,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1373,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1374,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1375,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [198]:
# Assess the predictive performance
R2_1 = basic_results.rsquared
print("R-squared for the basic model: ", R2_1, "\n")
R2_adj1 = basic_results.rsquared_adj
print("adjusted R-squared for the basic model: ", R2_adj1, "\n")


R2_2 = flex_results.rsquared
print("R-squared for the basic model: ", R2_2, "\n")
R2_adj2 = flex_results.rsquared_adj
print("adjusted R-squared for the basic model: ", R2_adj2, "\n")

R2_L = r2_score( df1['lwage'].values ,  y_hat )
print("R-squared for LASSO: ", R2_L, "\n")
n_obs = df1['lwage'].shape[0]
n_predictors = X_vars.shape[1]
R2_adjL = 1 - ( 1 - R2_L ) * ( n_obs -1 ) / ( n_obs - n_predictors - 1 )
print("adjusted R-squared for LASSO: ", R2_adjL, "\n")

R-squared for the basic model:  0.18023814876721

adjusted R-squared for the basic model:  0.15122549288773612

R-squared for the basic model:  0.507044001363502

adjusted R-squared for the basic model:  0.23150283659276116

R-squared for LASSO:  0.09194889946989504

adjusted R-squared for LASSO:  -2.1450132575035123

In [36]:
# calculating the MSE
MSE1 =  np.mean(basic_results.resid**2)
print("MSE for the basic model: ", MSE1, "\n")
p1 = len(basic_results.params) # number of regressors
n = len(lwage)
MSE_adj1  = (n/(n-p1))*MSE1
print("adjusted MSE for the basic model: ", MSE_adj1, "\n")

MSE2 =  np.mean(flex_results.resid**2)
print("MSE for the flexible model: ", MSE2, "\n")
p2 = len(flex_results.params) # number of regressors
n = len(lwage)
MSE_adj2  = (n/(n-p2))*MSE2
print("adjusted MSE for the flexible model: ", MSE_adj2, "\n")


MSEL = mean_squared_error(lwage, lwage_lasso_fitted)
print("MSE for the LASSO model: ", MSEL, "\n")
pL = reg.coef_.shape[0] # number of regressors
n = len(lwage)
MSE_adjL  = (n/(n-pL))*MSEL
print("adjusted MSE for LASSO model: ", MSE_adjL, "\n")

MSE for the basic model:  0.22672616350790228

adjusted MSE for the basic model:  0.232419434969696

MSE for the flexible model:  0.19932584192199265

adjusted MSE for the flexible model:  0.22603289917297859

MSE for the LASSO model:  0.27178000389087975

adjusted MSE for LASSO model:  0.5130063174078074

In [37]:
# Package for latex table 
import array_to_latex as a2l

table = np.zeros((3, 5))
table[0,0:5] = [p1, R2_1, MSE1, R2_adj1, MSE_adj1]
table[1,0:5] = [p2, R2_2, MSE2, R2_adj2, MSE_adj2]
table[2,0:5] = [pL, R2_L, MSEL, R2_adjL, MSE_adjL]
table

array([[ 5.10000000e+01,  3.78352762e-01,  2.26726164e-01,
         3.63675405e-01,  2.32419435e-01],
       [ 2.46000000e+02,  4.53480105e-01,  1.99325842e-01,
         3.85238972e-01,  2.26032899e-01],
       [ 9.79000000e+02,  2.54822266e-01,  2.71780004e-01,
        -4.07182273e-01,  5.13006317e-01]])

In [41]:
table = pd.DataFrame(table, columns = ["p","$R^2_{sample}$","$MSE_{sample}$","$R^2_{adjusted}$", "$MSE_{adjusted}$"], \
                      index = ["basic reg","flexible reg", "lasso flex"])

In [68]:
table

,p,$R^2_{sample}$,$MSE_{sample}$,$R^2_{adjusted}$,$MSE_{adjusted}$
basic reg,51.0,0.378353,0.226726,0.363675,0.232419
flexible reg,246.0,0.453480,0.199326,0.385239,0.226033
lasso flex,979.0,0.254822,0.271780,-0.407182,0.513006

Considering all measures above, the flexible model performs slightly better than the basic model. 

One procedure to circumvent this issue is to use **data splitting** that is described and applied in the following.

## Data Splitting

Measure the prediction quality of the two models via data splitting:

- Randomly split the data into one training sample and one testing sample. Here we just use a simple method (stratified splitting is a more sophisticated version of splitting that we can consider).
- Use the training sample for estimating the parameters of the Basic Model and the Flexible Model.
- Use the testing sample for evaluation. Predict the $\mathtt{wage}$  of every observation in the testing sample based on the estimated parameters in the training sample.
- Calculate the Mean Squared Prediction Error $MSE_{test}$ based on the testing sample for both prediction models.

In [70]:
# Import relevant packages for splitting data
import random
import math

# Set Seed
# to make the results replicable (generating random numbers)
np.random.seed(0)
random = np.random.randint(0,n, size=math.floor(n))
df1["random"] = random
random    # the array does not change

array([1653,  835,  763, ..., 1686, 1885,  259])

In [71]:
data_2 = df1.sort_values(by=['random'])
data_2.head()

,wage,lwage,sex,shs,hsg,scl,clg,ad,mw,so,...,ne,exp1,exp2,exp3,exp4,occ,occ2,ind,ind2,random
rownames,,,,,,,,,,,,,,,,,,,,,
29303,19.230769,2.956512,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.01,0.001,0.0001,2320,8,7860,17,0
6971,10.576923,2.358675,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0.0,12.0,1.44,1.728,2.0736,3500,10,8190,18,0
4663,12.943787,2.560616,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,1.0,27.0,7.29,19.683,53.1441,5860,17,3990,6,0
4210,66.826923,4.202106,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,1.0,8.0,0.64,0.512,0.4096,2100,7,7270,14,3
9440,12.857143,2.553900,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,15.0,2.25,3.375,5.0625,8965,21,5380,9,3

In [72]:
# Create training and testing sample 
train = data_2[ : math.floor(n*4/5)]    # training sample
test =  data_2[ math.floor(n*4/5) : ]   # testing sample
print(train.shape)
print(test.shape)

(1665, 21)
(417, 21)

In [73]:
# Basic Model
basic = 'lwage ~ sex + exp1 + shs + hsg+ scl + clg + mw + so + we + occ2+ ind2'
basic_results = smf.ols(basic , data = df1).fit()

# Flexible model 
flex = 'lwage ~ (exp1+exp2+exp3+exp4+shs+hsg+scl+clg+occ2+ind2+mw+so+we)**2'
flex_results = smf.ols(flex , data = df1).fit()

In [74]:
# basic model
# estimating the parameters in the training sample
basic_results = smf.ols(basic , data=train).fit()
print(basic_results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  lwage   R-squared:                       0.386
Model:                            OLS   Adj. R-squared:                  0.368
Method:                 Least Squares   F-statistic:                     21.17
Date:                Wed, 06 Oct 2021   Prob (F-statistic):          8.11e-137
Time:                        10:06:10   Log-Likelihood:                -1105.0
No. Observations:                1665   AIC:                             2308.
Df Residuals:                    1616   BIC:                             2573.
Df Model:                          48
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      3.4877      0.090     38.560      0.000       3.310       3.665
occ2[T.10]    -0.0440      0.075     -0.588      0.556      -0.191       0.103
occ2[T.11]    -0.5238      0.112     -4.665      0.000      -0.744      -0.304
occ2[T.12]    -0.4926      0.115     -4.299      0.000      -0.717      -0.268
occ2[T.13]    -0.4665      0.077     -6.034      0.000      -0.618      -0.315
occ2[T.14]    -0.5128      0.077     -6.694      0.000      -0.663      -0.363
occ2[T.15]    -0.4857      0.089     -5.479      0.000      -0.660      -0.312
occ2[T.16]    -0.2484      0.067     -3.731      0.000      -0.379      -0.118
occ2[T.17]    -0.3761      0.056     -6.703      0.000      -0.486      -0.266
occ2[T.18]    -0.4358      0.347     -1.257      0.209      -1.116       0.244
occ2[T.19]    -0.1969      0.085     -2.306      0.021      -0.364      -0.029
occ2[T.2]     -0.0837      0.080     -1.048      0.295      -0.240       0.073
occ2[T.20]    -0.1189      0.077     -1.541      0.124      -0.270       0.032
occ2[T.21]    -0.1790      0.067     -2.661      0.008      -0.311      -0.047
occ2[T.22]    -0.3756      0.067     -5.582      0.000      -0.508      -0.244
occ2[T.3]     -0.0625      0.084     -0.749      0.454      -0.226       0.101
occ2[T.4]     -0.2412      0.110     -2.189      0.029      -0.457      -0.025
occ2[T.5]     -0.0820      0.094     -0.873      0.383      -0.266       0.102
occ2[T.6]     -0.4827      0.089     -5.435      0.000      -0.657      -0.309
occ2[T.7]      0.1279      0.085      1.513      0.131      -0.038       0.294
occ2[T.8]     -0.3824      0.071     -5.350      0.000      -0.523      -0.242
occ2[T.9]     -0.3841      0.103     -3.725      0.000      -0.586      -0.182
ind2[T.11]     0.0410      0.113      0.365      0.715      -0.180       0.262
ind2[T.12]     0.1225      0.102      1.206      0.228      -0.077       0.322
ind2[T.13]     0.0225      0.134      0.168      0.867      -0.241       0.286
ind2[T.14]     0.0337      0.091      0.372      0.710      -0.144       0.211
ind2[T.15]    -0.1810      0.259     -0.698      0.485      -0.690       0.328
ind2[T.16]    -0.1494      0.094     -1.590      0.112      -0.334       0.035
ind2[T.17]    -0.0597      0.092     -0.646      0.518      -0.241       0.122
ind2[T.18]    -0.0657      0.088     -0.748      0.455      -0.238       0.106
ind2[T.19]    -0.0666      0.122     -0.547      0.584      -0.305       0.172
ind2[T.2]     -0.1392      0.164     -0.848      0.396      -0.461       0.183
ind2[T.20]    -0.2704      0.096     -2.803      0.005      -0.460      -0.081
ind2[T.21]    -0.1955      0.092     -2.123      0.034      -0.376      -0.015
ind2[T.22]     0.0593      0.092      0.645      0.519      -0.121       0.240
ind2[T.3]     -0.1525      0.139     -1.094      0.274      -0.426       0.121
ind2[T.4]     -0.1259      0.102     -1.237      0.216      -0.325       0.074
ind2[T.5]     -0.1229      0.094     -1.309      0.191      -0.307       0.061
ind2[T.6]     -0.2089      0.086     -2.421      0.016      -0.378      -0.040
ind2[T.7]      0.0122      0.128      0.095      0.924      -0.239       0.264
ind2[T.8]      0.0090      0.127      0.071      0.943      -0.239       0.257
ind2[T.9]     -0.1100      0.080     -1.381      0.167      -0.266       0.046
sex           -0.0787      0.028     -2.840      0.005      -0.133      -0.024
exp1           0.0097      0.001      8.530      0.000       0.007       0.012
shs           -0.6061      0.063     -9.564      0.000      -0.730      -0.482
hsg           -0.4919      0.039    -12.515      0.000      -0.569      -0.415
scl         2.371e-17   1.17e-17      2.034      0.042    8.44e-19    4.66e-17
clg        -1.869e-17   2.67e-17     -0.700      0.484   -7.11e-17    3.37e-17
mw            -0.0332      0.034     -0.968      0.333      -0.101       0.034
so            -0.0358      0.033     -1.088      0.277      -0.100       0.029
we             0.0201      0.036      0.559      0.576      -0.050       0.091
==============================================================================
Omnibus:                      112.454   Durbin-Watson:                   2.013
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              482.704
Skew:                           0.136   Prob(JB):                    1.52e-105
Kurtosis:                       5.624   Cond. No.                     1.23e+16
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 3.89e-27. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [75]:
lwage_test = test["lwage"].values
#test = test.drop(columns=['wage', 'lwage', 'random'])
#test

In [76]:
# calculating the out-of-sample MSE
test = sm.add_constant(test)   #add constant 

lwage_pred =  basic_results.predict(test) # predict out of sample
print(lwage_pred)

rownames
13277    3.633907
4417     2.718857
3759     2.790719
23579    2.859785
11071    3.266115
           ...
1964     2.581530
1323     2.751720
21595    2.785143
4721     3.299350
2214     3.005316
Length: 417, dtype: float64

In [77]:
MSE_test1 = np.sum((lwage_test-lwage_pred)**2)/len(lwage_test)
R2_test1  = 1 - MSE_test1/np.var(lwage_test)

print("Test MSE for the basic model: ", MSE_test1, " ")
print("Test R2 for the basic model: ", R2_test1)

Test MSE for the basic model:  0.2596472694009289
Test R2 for the basic model:  0.32064801715182933

In the basic model, the $MSE_{test}$ is quite closed to the $MSE_{sample}$.

In [78]:
# Flexible model
# estimating the parameters in the training sample
flex_results = smf.ols(flex , data=train).fit()

# calculating the out-of-sample MSE
lwage_flex_pred =  flex_results.predict(test) # predict out of sample
lwage_test = test["lwage"].values

MSE_test2 = np.sum((lwage_test-lwage_flex_pred)**2)/len(lwage_test)
R2_test2  = 1 - MSE_test2/np.var(lwage_test)

print("Test MSE for the flexible model: ", MSE_test2, " ")
print("Test R2 for the flexible model: ", R2_test2)

Test MSE for the flexible model:  1.2041588370429093
Test R2 for the flexible model:  -2.150611579689199

In the flexible model, the discrepancy between the $MSE_{test}$ and the $MSE_{sample}$ is not large.

It is worth to notice that the $MSE_{test}$ vary across different data splits. Hence, it is a good idea average the out-of-sample MSE over different data splits to get valid results.

Nevertheless, we observe that, based on the out-of-sample $MSE$, the basic model using ols regression performs is about as well (or slightly better) than the flexible model. 


Next, let us use lasso regression in the flexible model instead of ols regression. Lasso (*least absolute shrinkage and selection operator*) is a penalized regression method that can be used to reduce the complexity of a regression model when the number of regressors $p$ is relatively large in relation to $n$. 

Note that the out-of-sample $MSE$ on the test sample can be computed for any other black-box prediction method as well. Thus, let us finally compare the performance of lasso regression in the flexible model to ols regression.

In [79]:
# flexible model using lasso
# get exogenous variables from training data used in flex model
flex_results_0 = smf.ols(flex , data=train)
X_train = flex_results_0.exog
print(X_train.shape)

# Get endogenous variable 
lwage_train = train["lwage"]
print(lwage_train.shape)

(1665, 979)
(1665,)

In [80]:
# flexible model using lasso
# get exogenous variables from testing data used in flex model
flex_results_1 = smf.ols(flex , data=test)
X_test = flex_results_1.exog
print(X_test.shape)

# Get endogenous variable 
lwage_test = test["lwage"]
print(lwage_test.shape)

(417, 979)
(417,)

In [81]:
# calculating the out-of-sample MSE
reg = linear_model.Lasso(alpha=0.1)
lwage_lasso_fitted = reg.fit(X_train, lwage_train).predict( X_test )

MSE_lasso = np.sum((lwage_test-lwage_lasso_fitted)**2)/len(lwage_test)
R2_lasso  = 1 - MSE_lasso/np.var(lwage_test)

print("Test MSE for the flexible model: ", MSE_lasso, " ")
print("Test R2 for the flexible model: ", R2_lasso)

Test MSE for the flexible model:  0.30626759008033927
Test R2 for the flexible model:  0.19866865889534047

c:\python\python38\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 121.54237223256281, tolerance: 0.05987734900827246
  model = cd_fast.enet_coordinate_descent(

Finally, let us summarize the results:

In [82]:
# Package for latex table 
import array_to_latex as a2l

table2 = np.zeros((3, 2))
table2[0,0] = MSE_test1
table2[1,0] = MSE_test2
table2[2,0] = MSE_lasso
table2[0,1] = R2_test1
table2[1,1] = R2_test2
table2[2,1] = R2_lasso

table2 = pd.DataFrame(table2, columns = ["$MSE_{test}$", "$R^2_{test}$"], \
                      index = ["basic reg","flexible reg","lasso regression"])
table2

                  $MSE_{test}$  $R^2_{test}$
basic reg             0.259647      0.320648
flexible reg          1.204159     -2.150612
lasso regression      0.306268      0.198669

In [83]:
table2.to_latex
print(table2.to_latex())

\begin{tabular}{lrr}
\toprule
{} &  \$MSE\_\{test\}\$ &  \$R\textasciicircum 2\_\{test\}\$ \\
\midrule
basic reg        &      0.259647 &      0.320648 \\
flexible reg     &      1.204159 &     -2.150612 \\
lasso regression &      0.306268 &      0.198669 \\
\bottomrule
\end{tabular}